<div ng-show="create">
    Create Customer
    <form class="form-inline">
        <div class="alert alert-info" role="alert" ng-show="showCreateCustError">{{ results.createCustomer }}</div>
        <div class="alert alert-success" role="alert" ng-show="showCreateCustSuccess">{{ results.createCustomer }}</div>
        <div class="form-group">
            <label class="sr-only" for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name (min len = 3)" ng-model="custName">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="Password (min len = 3)" ng-model="custPass">
        </div>
        <button type="submit" class="btn btn-default" ng-click="submitCreateCustomer()">Create</button>
    </form>
</div>